<h1>THE WANTED PETS.</h1>

<% @pets.each do |pet| %>
  <ul>
    <li> <%= link_to pet.name, pet_path(pet) %>  ||  <%= link_to "delete", pet_path(pet), method: :delete  %></li>
  </ul>
<% end %>

 <%= link_to "add a new lost pet", new_pet_path %>
