<h1>All THE PETS</h1>

<% @pets.each do |pet| %>
  <ul>
    <li> <%= link_to pet.name,  pet_path(pet) %> </li>
    <li> <%= image_tag "app/assets/images/BLACK-CAT.jpg", alt: "black-cat" %></li>
  </ul>
